name: 04-using-actions
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 04-using-actions/react-app
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Dependencies
        run: npm ci
#        working-directory: 04-using-actions/react-appname: 04-using-actions
      #on:
      #  push:
      #jobs:
      #  build:
      #    runs-on: ubuntu-latest
      #    defaults:
      #      run:
      #        working-directory: 04-using-actions/react-app
      #    steps:
      #      - name: Checkout Code
      #        uses: actions/checkout@v4
      #      - name: Setup Node
      #        uses: actions/setup-node@v4
      #        with:
      #          node-version: '20.x'
      #      - name: Install Dependencies
      #        run: npm ci
      ##        working-directory: 04-using-actions/react-app
      #      - name: Run Unit Tests
      #        run: npm run test
      ##        working-directory: 04-using-actions/react-app
      #
      - name: Run Unit Tests
        run: npm run test
#        working-directory: 04-using-actions/react-app
          
